.text-center {
  text-align: center;
}
.thumb {
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
  border-radius: 10px;

  img {
    cursor: pointer;
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: ease all 0.2s;

    &:hover {
      transform: scale(1.1);
      box-shadow: 0 20px 80px rgba(0, 0, 0, 0.1);
    }
  }
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
