// Helpers are re-usable functions, variables, etc
@import "helpers/paths";
@import "helpers/variables";
@import "helpers/css3-mixins-lib";
@import "helpers/mixins";
@import "helpers/animations";
@import "helpers/flex";

// Global styles, such as resets, fonts, colors, etc.
@import "base/reset";
@import "base/colours";
@import "base/typography";
@import "base/icons";
@import "base/default";
@import "base/grid";

// Containers (Layout) contains styling for larger layout components; e.g. nav, header, footer, etc.
//@import "containers/header";
//@import "containers/footer";

// Components contains each self-contained component in its own partial
@import "components/main";
@import "components/welcome";
@import "components/about";
@import "components/social";
@import "components/section";
@import "components/work";
@import "components/projects";
@import "components/project-link";

// Contains third-party styles.
@import "vendors/all";


// .move-area{/*normally use body*/
//   width: 100vw;
//   height: 100vh;
//   padding: 10% 45%;
// }
// .container {
//   width: 100%;
// }
.planet-container {
  position: relative;
}
$eyes: 200px;
$eye: 20px;
$iris: 15px;
.eyes {
  position: absolute;
  width: $eyes;
  height: $eyes;
  top: 0;
  left: 0;
  // background: pink;
}

.eye {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  height: $eye;
  width: $eye;
  background: #fff;
  margin-top: 80px;
  &:first-child {
    margin: 0 40px 0 60px;
  }
}
.eye:after { /*pupil*/
  position: absolute;
  bottom: 10px;
  right: 5px;
  width: 10px;
  height: 10px;
  background: #000;
  border-radius: 50%;
  content: " ";
}
