// typography
h2,
h3 {
    margin: 0;
    padding: 0;
    text-align: center;
}

h2 {
    font-weight: $font-bold;
    font-size: 18px;
    color: $color-text;
    line-height: 24px;
    padding-bottom: $ops-spacing-xxs;
}
h3 {
    font-weight: $font-regular;
    color: $color-text;
    font-size: 16px;
    line-height: 22px;
    padding-bottom: $ops-spacing-sm;
}
.lead {
    font-size: 16px;
    color: $color-text-bg;
    line-height: 22px;
    text-align: center;
}
p {
    font-size: 14px;
    color: $color-text-bg;
    line-height: 19px;
}
hr {
    border-top: 2px solid $color-yellow;
    width: 100px;
}
