/* *************************************************
** Callout
***************************************************/
.callout {
  padding-bottom: 80px;
  padding-top: 80px;
  position: relative;
  background-color: $dark-gray !important;
  color:$white;

  h2 {
    font-size: 30px;
    font-family: $title-font;
    color: $white;
  }

  .btn{
  margin:20px 7px 0px 7px;
  }
}
