/* *************************************************
** Experience
***************************************************/
.experience {
    padding-bottom:120px;

    h3 {
        color: $dark-grey;
        font-family: $reg-font;
    }
    h4 {
        color: $primary-color;
    }
    h5 {
        color: $gray;
        font-weight: 700;
    }

}
