/* *************************************************
** Buttons
***************************************************/
.btn {
  border-radius: 0px;
	transition: all 0.3s ease-in-out;
  display: inline-block;
  padding: 10px 16px;

  &--ghost {
    background-color:rgba(0, 0, 0, 0);
    border: 2px solid $white;
    color: $white;
    font-weight: normal;
    text-transform: uppercase;
    transition: background 0.25s ease-in-out 0s;

    &:hover {
      background-color: #EEEEEE;
      border: medium none;
      transition: background 0.25s ease-in-out 0s;
    }
    &:active {
      cursor: pointer !important;
    }
  }
  &--download {
    border: 2px solid $primary-color;
    background: $primary-color;
    color: $white;

    &:hover {
      color: $white;
      background: $secondary-color;
    }
  }
}
