.home {
  position: relative;
	height: 100%;
	color: $white;
  background: $primary-color;

  .container-fluid,
  .row {
    height: 100%
  }
  &__content {

  }

  h1,
  h2 {
    text-align: center;
    color: $white;
    font-family: $logo-font;
    text-transform: uppercase;
  }
}
