$articles-bg: $white;

.articles {
  padding-bottom: $space * 8;
  background: $articles-bg;

  @include tablet-down {
    text-align: center;
  }
  &__item {
    .title {
      padding-top: $space;
    }
    .tag {
      color: $grey;
    }
  }
  h3 {
    margin-bottom: 0;
  }
}
