// smg global variables

/************************
Colors
************************/
$dark: #171e22;
$pink: #ee7579;
$dark-gray: #393939;
$font-gray: #3e4246;
$gray: #999999;
$light-gray: #eeeeee;
$white: #fff;
$dark-pink: #a1595b;


/************************
Fonts
************************/
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700|Francois+One|Lato|Oswald);

$logo-font: 'Francois One', sans-serif;
$menu-font: 'Oswald', sans-serif;
$title-font: 'Lato', sans-serif;
$reg-font: 'PT Sans', serif;

/************************
Fonts
************************/
$ops-spacing: 40px;                          // base spacing
$ops-spacing-xlg: round($ops-spacing * 3);    // 80px
$ops-spacing-lg: round($ops-spacing * 2);    // 40px
$ops-spacing-sm: round($ops-spacing / 2);    // 20px
$ops-spacing-xs: round($ops-spacing / 4);    // 10px
$ops-spacing-xxs: round($ops-spacing / 8);   // 5px

// typography
$ops-font-stack: 'Open Sans', sans-serif;
$ops-font-light: 300;
$ops-font-normal: 400;
$ops-font-bold:   600;

$font-regular: 400;
$font-bold:   600;

// colors
$ops-brand: #12ca8b;
$ops-white: #faefce;
$ops-black: #000;
$ops-gray-light: #eee;
$ops-gray: #a5a6aa;
$ops-gray-dark: #252525;

$color-white: #fff;
$color-red: #f03337;
$color-yellow: #f2e600;
$color-dark: #2a1e2a;
$color-black: #06050d;
$color-brand: #ee7579;;
$color-active: #a1595b;
$color-inactive: #C6C3C3;
$color-secondary: #EB5751;
$color-text: #777777;
$color-bg: #F7F4F4;
$color-text-bg: #A6A1A1;
$color-gray: #a5a6aa;
