// Main Styles


// variables
$gray: #2F3B46;
$gray-dark: #171D22;
$gray-light: #D8D8D8;
$pink: #E83B4D;
$yellow: #DA9746;
$green: #33BD76;

.screw {
  position: absolute;
  display: block;
  width: 22px;
  height: 22px;
  background: $color-black;
  border-radius: 50%; 
}
.screw-inner {
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%; 
  top: 3px;
  left: 3px;

  @include rotate(50deg);

   &:before, &:after {
     content: "";
     position: absolute;
     z-index: 2;
     background: $green;
     width: 5px;
     @include border-radius(2px);
   }
  &:before {
    left: 50%;
    width: 40%;
    margin-left: -20%;
    height: 100%;
  }
  &:after {
    top: 50%;
    height: 40%;
    margin-top: -20%;
    width: 100%;
  }
}
.screws {
  .screw {
    &:nth-child(1) {
      top: 5px;
      left: 10px;
    }
    
    &:nth-child(2) {
      top: 5px;
      right: 10px;
    }
    &:nth-child(3) {
      left: 10px;
      bottom: 5px;
    }
    
    &:nth-child(4) {
      right: 10px;
      bottom: 5px;
    }
  }
}
//cassette
.cassette {
    position:relative;
    margin: 0 auto;
    background: $gray;
    @include border-radius(16px);
    width: 534px;
    height: 335px;
    &:before {
      position:absolute;
      z-index:20;
      bottom:20px;
      left:-3px;
      content:"";
      height:90px;
      border-right: $gray solid 5px;
      border-top:transparent solid 10px;
      border-bottom:transparent solid 10px;
    }
    &:after {
      position:absolute;
      z-index:20;
      bottom:20px;
      right: -3px;
      content:"";
      height:90px;
      border-left: $gray solid 5px;
      border-top:transparent solid 10px;
      border-bottom:transparent solid 10px;
    }
  }//.cassette
  .outer-sticker {
    background: $gray-dark;
    width: 474px;
    height: 210px;
    position: relative;
    left: 50%;
    margin-left: -237px;
    @include border-radius(16px);
    position: relative;
    margin-top: 25px;
    display: inline-block;
    
  }
  .sticker {
    background: $gray-light;
    margin: 0 auto;
    width: 466px;
    height: 200px;
    @include border-radius(16px);
    position: relative;
    margin-top: 5px;
    }
    .sticker-header {
      float: left;
      background: $color-white;
      margin: 10px;
      width: 446px;
      border-radius: 4px;

      .side {
        font-weight: 700;
        font-size: 30px;
        color: $color-yellow;
        padding: 0 5px 1px;
        line-height: 32px;
        margin-top: 10px;
        background: gray;
        float: left;
        @include border-radius(5px);
      }
    }//.sticker-header
    .sticker-center {
        position: relative;
        display: inline-block;
        background: $pink;
        width: 100%;
        height: 90px;

        .stripe-a {
          background: $color-red;
          display: inline-block;
          width: 100%;
          height: 30px;
        }
        .stripe-b {
          background: $color-dark;
          display: inline-block;
          width: 100%;
          height: 30px;
          margin-top: 30px;
        }
        .cassete-center {
          background: $gray-dark;
          margin: 0 auto;
          width: 318px;
          height: 92px;
          @include border-radius(50px);
          position: absolute;
          top: 0;
          left: 50%;
          margin-left: -159px;
          
          .circle {
            border-radius: 50%;
            width: 65px;
            height: 65px; 
            background: #fff;
            position: absolute;
            top: 12px;
            
            &:nth-child(1) { left: 15px; }
            &:nth-child(2) { right: 15px; }
            
            i {
            display: block;
            position: absolute;
            width: 4px;
            height: 55%;
            left: 45%;
            top: -5%;
            border-top: solid 15px $gray-dark;
            transform-origin: 50% 100%;
            z-index: 999;
              &:nth-child(1) { @include rotate(30deg); }
              &:nth-child(2) { @include rotate(90deg); }
              &:nth-child(3) { @include rotate(150deg); }
              &:nth-child(4) { @include rotate(210deg); }
              &:nth-child(5) { @include rotate(270deg); }
              &:nth-child(6) { @include rotate(330deg); }
            }//i
          }//.circle 
          
          .window {
            position: absolute;
            overflow: hidden;
            background: $color-white;
            width: 122px;
            height: 60px;
            left: 50%;
            margin-left: -61px;
            margin-top: 15px;
            @include border-radius(5px);

            .reel {
              border-radius: 50%;
              width: 190px;
              height: 190px; 
              background: $yellow;
              position: absolute;
              top: -60px;
              
              &:nth-child(1) {
                left: -150px; 
              }
               &:nth-child(2) {
                right: -150px; 
               }
            }
          }//.reel
        }
      }//.sticker-center
      .sticker-bottom {
        margin: 5px 5px;
        overflow: auto;
        margin: 10px;
        width: 446px;
        background: $color-white;
        hr {
          border: 0;
          height: 3px;
          background: $gray;
          width: 170px; 
           &:nth-child(1) {
              float: left;
           }
           &:nth-child(3) {
             float: right;
           }
        }//hr
        p {
          font-size: 12px;
          float: left;
          line-height: 19px;
          padding-left: 19px;
        }
      }//.sticker-bottom
      .cassette-bottom-outer {
        position: absolute;
        left: 50%;
        margin-left: -175px;
        bottom: 0;
        border-bottom: 80px solid $color-black;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        height: 0;
        width: 350px;
      }
      .cassette-bottom {
        border-bottom: 80px solid $gray-dark;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        position: relative;
        margin-left: -15px;
        margin-top: 5px;
        height: 0;
        width: 340px;
        .screw {
          bottom: 0px;
          left: 50%;
          margin-left: -10px;
          top: 20px;
        }//.screw
      }//.cassette-bottom
      .holes {
        div {
          position: absolute;
          bottom: -70px;
        }
        .hole-big {
          width: 25px;
            height: 25px;
          @include border-radius(50%);
          background: $color-white;
        }
        .hole-small {
          width: 20px;
            height: 20px;
          @include border-radius(50%);
          background: $color-white;
        }
        :nth-child(1) {
          left: 20px;
          @include box-shadow($color-black -2px 2px 0px);
        }
        :nth-child(2) {
          left:  70px;
          bottom: -60px;
          @include box-shadow($color-black -2px 2px 0px);
        }
        :nth-child(3) {
          right: 20px;
          @include box-shadow($color-black 2px 2px 0px);
        }
        :nth-child(4) {
          right: 70px;
          bottom: -60px;
          @include box-shadow($color-black 2px 2px 0px);
        }
      }


      .notes {
        float: left;
        margin-left: 15px;
        width: 100%;
        p {
          padding: 5px;
          margin: 0;
        }
      }