// footer styles
.footer {

    // styles
    color: $color-gray;
    font-size: 12px;
    text-align: center;
    background: $color-brand;
    padding: $gutter-xs;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
}