// Header Styles

.header {
    background: $color-brand;

    .row {
        position: relative;
        padding: 20px 0;
    

        .header__logo {
            @include make-xs-column(6);
            @include make-sm-column(4);
        }
        .header__menu--mobile {
            @include make-xs-column(6);

            @media (min-width: $screen-tablet) { 
                display: none;
            }
        }
        .header__player {
            @include make-xs-column(12);
            @include make-sm-column(4);
        }
        .header__menu {
            @include make-sm-column(4);
            @include make-xs-column(4);

            @media (max-width: $screen-tablet) { 
                display: none;
            }
        }
    }
}

.header__logo {
    h1 {
        padding: 0;
        margin: 0;
        font-size: 20px;
        line-height: 1.2;
    }
    a {
        font-weight: $ops-font-normal;
        text-transform: uppercase;
        color: $color-white;
        padding: 5px 10px;
    }
}

.header__menu {
    text-align: right;

    ul {

    }
    li {
        display: inline-block;
    }
    a {
        display: block;
        padding: 0 $ops-spacing-xs;
        color: $color-white;
    }
}
