// Header Styles

.header {
    background: $color-brand;
    .header-nav {
          position: absolute;
          top: 0px;
          z-index: 2;
          width: 100%
    }
    .header-inner {
        position: relative;
        padding: 20px 0;
        @include make-row();

        .header-logo {
            @include make-xs-column(12);
            @include make-sm-column(6);
        }
        .header-menu {
            @include make-xs-column(12);
            @include make-sm-column(6);
        }
    }
}

.header-logo {
    h1 {
        padding: 0;
        margin: 0;
        font-size: 20px;
        line-height: 1.2;
    }
    a {
        font-weight: $ops-font-normal;
        text-transform: uppercase;
        color: $color-white;
        padding: 5px 10px;
    }
}

.header-menu {
    text-align: right;

    ul {

    }
    li {
        display: inline-block;
    }
    a {
        display: block;
        padding: 0 $ops-spacing-xs;
        color: $color-white;
    }
}

