// Main Styles

.home {
    // main home styles
    position: relative;
    width: 100%;
}
.home-player {
    color: $color-white;
    background: rgba($ops-black, 0.8);
}
.home-player-waveform {
    position: relative;
    height: 80px;

    .current-time {
        background: $ops-brand;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 99;
    }
    img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height:100%;
        -webkit-filter:contrast(200%);
        filter:contrast(200%);
        z-index: 999;
    }
}
.home-player-progress {
    background: $ops-brand;
    text-align: center;
    padding: $ops-spacing-xs 0;

    p {
        margin-bottom: 0;
        top: 10px;
        color: $ops-black;
    }
}
.home-player-controls {
    text-align: center;
    width: 100%;

    h3 {
        text-transform: uppercase;
        font-weight: $ops-font-light;
        font-size: 30px;
    }
    ul {
        display: block;
        margin: 0 auto;
    }
    li {
        display: inline-block;
    }
    a {
        display: block;
        color: $ops-white;
    }
    i:before { // icons
        font-size: 45px;
    }
    .is-btn {
        position: relative;
        top: -12px;
    }
    .is-playPause {
        &:before { // icons
            font-size: 80px;
        }
    }
}
.home-playlist {
    padding: $ops-spacing-sm 0;

    li {
        display: block;
        cursor: pointer;
        text-align: center;
    }
}
.home-playlist-item {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px 0;
    background: $color-inactive;
    text-transform: uppercase;
    font-weight: $font-regular;
    color: $color-white;
    
    &.is-active {
        background: $color-active;
    }
}
