/*
* header artwork
*/
.header-artwork {
    background: $color-brand;
    position: relative;

    .header-artwork-inner {
        padding: $gutter-sm;
        position: relative;

        &:after {
            $size: 44px;
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -($size/2);
            margin-top: -($size/2);
            display: block;
            width: $size;
            height: $size;
            text-align: center;
            background: $color-brand;
            border-radius: 50%;
        }
    }
    img {
        display: block;
        margin: 0 auto;
        border-radius: 50%;
        position: relative;
        width: 210px;
        height: 210px;
    }
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
.section-title h1 {
    font-size: 50px;
}
#home {
  h1, h2 { 
    text-align: center;
  }
  h1 {
    font-size: 75px;
    line-height: 75px;
    position: relative;
    
  }
  h2 {
    font-size: 54px;
    line-height: 54px;
    margin-bottom: 20px;
  }
}//#home
.no-svg .fallback { 
      background-image: url(../images/miukimiu-cat.png); 
    }

#about {
    img {
        margin: 0 auto;
        max-width: 250px;
    }
}
.portfolio-items article {
    float: left;
    overflow: hidden;
    position: relative;
    margin:0.5% 0.5% 0 0;
}
.portfolio-items article {
    width: 49.4%;
} 
/* Mobile */
@media (max-width: 560px) {
    #home {
        #cat {
            width: 170px;
        }
        h1 {
            font-size: 78px;
            line-height: 78px;
            position: relative;
      }
      h2 {
        font-size: 35px;
        line-height: 35px;
      }
  }
  .section-title h1 {
    font-size: 35px;
  }
    .header .heading {
    font-size: 26px;
    letter-spacing: 0px;
    }
    .header .box-heading{
    font-size:50px;
    }
    .portfolio-items article {
        width: 100%;
        margin:0px 0px 5px 0px;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #home {
        h1, h2 { 
            text-align: left;
        }
        h1 {
            font-size: 135px;
            line-height: 135px;
            position: relative;
            left: -4px;
        }
        h2 {
            font-size: 62px;
            line-height: 80px;
        }
    }//#home  
    .process-flow {
        max-width:750px;
        padding: 0px;
        margin:0px auto;
    }
    .process-flow > li {
        clear: right;
        float: left;
        height: 130px;
        margin: 0;
        position: relative;
        width: 256px;
    }
    .process-flow > li .line {
        height: 400px;
        position: absolute;
        right: -48%;
        top: -6.7em;
        -moz-transform: rotate(-75deg);
    -webkit-transform: rotate(-75deg);
    -o-transform: rotate(-75deg);
    -ms-transform: rotate(-75deg);
    transform: rotate(-75deg);
    }
    .process-flow > li .line.active .progress {
        height: 400px;
    }
    .process-flow > li:nth-child(2n) {
        clear: left;
        float: right;
    }
    .process-flow > li:nth-child(2n) .line {
        left: -242%;
            -moz-transform: rotate(75deg);
    -webkit-transform: rotate(75deg);
    -o-transform: rotate(75deg);
    -ms-transform: rotate(75deg);
    transform: rotate(75deg);
    }
    .project-description {
        text-align: center;
    }
    .portfolio-items article {
        width: 49.4%;
    }  
}//768px

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #home {
        #cat {
            float: left;
            position: relative;
        }
    }//#home
    #about {
        img {
            max-width: 100%;
        }
    }
    .project-description {
        text-align: inherit;
    }
    .portfolio-items article {
        width: 32.5%;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .portfolio-items article {
        width: 24.4%;
    }
}