.project-link {
  text-decoration: none;
  color: $blue;
  display: inline-flex;
  margin-top: $space;
  transition: all 1s linear;

  &__img {
    fill: $blue;
    padding-right: $space / 3;
    margin-top: 3px;
  }
  &__text {
    position: relative;
    line-height: 1.5;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -1px;
      left: 0;
      background-color: $blue;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.3s ease-in-out 0s;
    }
    &:hover:before {
      visibility: visible;
      transform: scaleX(1);
    }
  }
}
