$projects-bg: $light-grey;

.projects {
  padding-bottom: $space * 8;
  background: $projects-bg;

  &__separator {
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 50px;
    fill: $projects-bg;
  }
  &__item {
    padding-bottom: $space * 2;

    @include tablet-down() {
      padding-bottom: $space * 4;
    }
    .thumb {
      margin: 0 auto;
      margin-bottom: $space;

      @include tablet-down() {
          max-width: 250px;
      }
    }

  }
  &__article {
    @include tablet-down() {
        text-align: center;
    }
    p {
      margin-bottom: 0;
    }
  }
}
