.welcome {
  display: flex;
  background: $color-primary;
  flex-direction: column;
  padding: ($space * 4) $space ($space * 3);

  &__planet {
    display: inline-flex;
  }
  .kawaiiElementWrapper {
    margin: 0 auto;
  }
  .section__separator {
    fill: $color-white;
  }
}
