$work-bg: $light-grey;

.work {
  padding-bottom: $space * 4;
  background: $work-bg;

  &__separator {
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 50px;
    fill: $work-bg;
  }
  &__item {
    .thumb {
      box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
      border-radius: 10px;

      img {
        cursor: pointer;
        display: block;
        width: 100%;
        height: auto;
        border-radius: 10px;
        transition: ease all 0.2s;

        &:hover {
          transform: scale(1.1);
          box-shadow: 0 20px 80px rgba(0, 0, 0, 0.1);
        }
      }
    }
    .title {
      padding-top: $space;
    }
    .tag {
      color: $grey;
    }
  }
}
