<ng-include src="'includes/cassette.html'"></ng-include>


<!-- Experience Timeline Section -->
<section id="experience" class="section-content bg2">
    <div class="container">
        <div class="row">
            <!-- Section title -->
            <div class="section-title item_bottom text-center">
                <h1>Experience</h1>
            </div>
            <!-- End Section title -->
            <ul class="timeline">
                <li>
                    <div class="timeline-badge danger"></div>
                    <div class="timeline-panel">
                        <div class="timeline-body">
                            <h3>UX Designer and Front-end Developer</h3>
                            <h4>NOS Portugal</h4>
                            <h5>Maio 2014 - Until Now</h5>
                            <p>CSS / SASS / jQuery / Sketch3</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge"></div>
                    <div class="timeline-panel">
                        <div class="timeline-body">
                            <h3>Front-end Developer</h3>
                            <h4>RIFL Media LLC</h4>
                            <h5>November 2013 – July 2014</h5>
                            <p>CSS / SASS / Compass / jQuery / Grails MVC Framework/ Angular JS</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge warning"></div>
                    <div class="timeline-panel">
                        <div class="timeline-body">
                            <h3>Front-end Developer</h3>
                            <h4>Cooltribes</h4>
                            <h5>June 2013 – November 2013</h5>
                            <p>CSS / LESS / jQuery / Wordpress Integration.</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge danger"></div>
                    <div class="timeline-panel">
                        <div class="timeline-body">
                            <h3>Web Developer</h3>
                            <h4>Mix&Blend</h4>
                            <h5>July 2012 – April 2013 </h5>
                            <p>CSS / LESS / jQuery / PHP / Wordpress Integration / Codeigniter </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-panel">
                        <div class="timeline-body">
                            <h3>Freelancer</h3>
                            <h4>Miuki Miu</h4>
                            <h5>June 2012 – Present </h5>
                        </div>
                    </div>
                </li>
            </ul>
            <!-- Section title -->
            <div class="section-title item_bottom text-center">
                <h1>Education</h1>
            </div>
            <!-- End Section title -->
            <ul class="timeline">
                <li>
                    <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-body">
                            <h3>Mobile Development Course</h3>
                            <h4>EDIT</h4>
                            <h5>September 2014</h5>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-body">
                            <h3>Web Development Course</h3>
                            <h4>Lx School</h4>
                            <h5>2011 </h5>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-body">
                            <h3>Leisure Management and Tourism Entertainment </h3>
                            <h4>Escola Superior de Hotelaria e Turismo do Estoril</h4>
                            <h5>September 2014</h5>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- End Experience Timeline Section -->