<ng-include src="'includes/cassette.html'"></ng-include>

<!-- About Section -->
<section id="about" class="section-content bg1">
    <div class="container">
        <div class="row">

             <img src="images/pic.jpg"/>
             
            <h2>About me</h2>
            <p>My real name is Elizabet (nickname Miuki Miu). I live near the sea somewhere outskirts Lisbon.</p>
            <p>I am a front-end developer with good knowledge of user interface design. Friendly and eager to work and learn with others. Each position I have held has transmuted my skillset and goals towards forward-thinking technology.</p>
            <p>I enjoy working in the industry and have a passion for creating and discovering new and effective digital experiences.</p>
            <p>I have some personal projects like <a href="http://meninasgeeks.com/">Meninas Geeks</a> a blog / website written by girls wich talk about thecnology.</P>
            <p>Always looking to expand my knowledge. Now, I'm learning Tablet / Mobile Design and Development.</p>
            <div class="name">
                <h3>Elizabet Oliveira</h3>
                <h5>Front-end Developer</h5>
            </div>
            <!-- Social Icon -->
            <div class="social-icon">
                <a href="https://www.facebook.com/MiukiMiu"><i class="fa fa-facebook fa-lg"></i></a>
                <a href="https://twitter.com/miuki_miu"><i class="fa fa-twitter fa-lg"></i></a>
                <a href="http://pt.linkedin.com/in/elizabetoliveira/"><i class="fa fa-linkedin fa-lg"></i></a>
                <a href="http://vimeo.com/miukimiu"><i class="fa fa-vimeo fa-lg"></i></a>
            </div>
            <!-- End Social Icon -->
        </div>
    </div>
    <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- End About Section -->
<!-- Experience Timeline Section -->
<section id="experience" class="section-content bg2">
    <div class="container">
        <div class="row">
            <!-- Section title -->
            <div class="section-title item_bottom text-center">
                <h1>Experience</h1>
            </div>
            <!-- End Section title -->
            <ul class="timeline">
                <li>
                    <div class="timeline-badge danger"></div>
                    <div class="timeline-panel">
                        <div class="timeline-body">
                            <h3>UX Designer and Front-end Developer</h3>
                            <h4>NOS Portugal</h4>
                            <h5>Maio 2014 - Until Now</h5>
                            <p>CSS / SASS / jQuery / Sketch3</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge"></div>
                    <div class="timeline-panel">
                        <div class="timeline-body">
                            <h3>Front-end Developer</h3>
                            <h4>RIFL Media LLC</h4>
                            <h5>November 2013 – July 2014</h5>
                            <p>CSS / SASS / Compass / jQuery / Grails MVC Framework/ Angular JS</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge warning"></div>
                    <div class="timeline-panel">
                        <div class="timeline-body">
                            <h3>Front-end Developer</h3>
                            <h4>Cooltribes</h4>
                            <h5>June 2013 – November 2013</h5>
                            <p>CSS / LESS / jQuery / Wordpress Integration.</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge danger"></div>
                    <div class="timeline-panel">
                        <div class="timeline-body">
                            <h3>Web Developer</h3>
                            <h4>Mix&Blend</h4>
                            <h5>July 2012 – April 2013 </h5>
                            <p>CSS / LESS / jQuery / PHP / Wordpress Integration / Codeigniter </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-panel">
                        <div class="timeline-body">
                            <h3>Freelancer</h3>
                            <h4>Miuki Miu</h4>
                            <h5>June 2012 – Present </h5>
                        </div>
                    </div>
                </li>
            </ul>
            <!-- Section title -->
            <div class="section-title item_bottom text-center">
                <h1>Education</h1>
            </div>
            <!-- End Section title -->
            <ul class="timeline">
                <li>
                    <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-body">
                            <h3>Mobile Development Course</h3>
                            <h4>EDIT</h4>
                            <h5>September 2014</h5>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-body">
                            <h3>Web Development Course</h3>
                            <h4>Lx School</h4>
                            <h5>2011 </h5>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-body">
                            <h3>Leisure Management and Tourism Entertainment </h3>
                            <h4>Escola Superior de Hotelaria e Turismo do Estoril</h4>
                            <h5>September 2014</h5>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- End Experience Timeline Section -->