/************************
Colors
************************/
$dark: #171e22;
$primary-color: #0cbda6;
$secondary-color: darken($primary-color, 5%);
$dark-grey: #5A5A5A;
$font-gray: #A0A0A0;
$gray: #909090;
$light-gray: #eeeeee;
$white: #fff;

/************************
Breakpoints
************************/
$breakpoint-sm: 48em;
$breakpoint-md: 62em;
$breakpoint-lg: 75em;
